<header id="header" class="header d-flex align-items-center sticky-top">
  <div class="container position-relative d-flex align-items-center justify-content-between">
    <a href="/" class="logo-link">
      <img src="/assets/img/el_pueblo_mex_logo-01.png" alt="El Pueblo Logo" class="logo">
    </a>
    
    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="/" class="{% if currentPage == 'home' %}active{% endif %}">Home</a></li>
        <li><a href="#about" class="{% if currentPage == 'about' %}active{% endif %}">About</a></li>
        <li><a href="/menu" class="{% if currentPage == 'menu' %}active{% endif %}">Menu</a></li>
        <li><a href="#events" class="{% if currentPage == 'events' %}active{% endif %}">Events</a></li>
        <li><a href="#chefs" class="{% if currentPage == 'chefs' %}active{% endif %}">Chefs</a></li>
        <li><a href="/blog" class="{% if currentPage == 'gallery' %}active{% endif %}">Latest News</a></li>
        <li><a href="#contact" class="{% if currentPage == 'contact' %}active{% endif %}">Contact</a></li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>
  </div>
</header>
