<header id="header" class="header d-flex align-items-center sticky-top">
  <div
    class="container position-relative d-flex align-items-center justify-content-between"
  >
    <a href="/" class="logo-link">
      <img
        src="/assets/img/el_pueblo_mex_logo-01.png"
        alt="El Pueblo Logo"
        class="logo"
      />
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li>
          <a href="/" class="{% if currentPage == 'home' %}active{% endif %}"
            >Home</a
          >
        </li>
        <li>
          <a
            href="/menu"
            class="{% if currentPage == 'menu' %}active{% endif %}"
            >Menu</a
          >
        </li>
        <li>
          <a
            href="/latest-news"
            class="{% if currentPage == 'latest-news' %}active{% endif %}"
            >Latest News</a
          >
        </li>
        <li>
          <a
            href="/locations"
            class="{% if currentPage == 'locations' %}active{% endif %}"
            >Locations</a
          >
        </li>

        <li>
          <a
            href="/event-space-reservation"
            class="{% if currentPage == 'event-space-reservation' %}active{% endif %}"
            >Reserve</a
          >
        </li>
        <li>
          <a
            href="/contact"
            class="{% if currentPage == 'contact' %}active{% endif %}"
            >Contact</a
          >
        </li>
      </ul>
      <div class="custom-burger mobile-nav-toggle d-xl-none">
        <span></span>
        <span></span>
        <span class="short"></span>
      </div>
      {# <i class="mobile-nav-toggle d-xl-none bi bi-list"></i> #}
    </nav>
  </div>
</header>
