<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "Restaurant",
      "name": "El Pueblo Mexican Food - Del Mar",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "2673 Via De La Valle, Suite C",
        "addressLocality": "Del Mar",
        "addressRegion": "CA",
        "postalCode": "92014",
        "addressCountry": "US"
      },
      "telephone": "+1-858-523-9834",
      "openingHours": "Mo-Su 06:00-00:00"
    },
    {
      "@type": "Restaurant",
      "name": "El Pueblo Mexican Food - Carmel Valley",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "5965 Village Way, Suite E107",
        "addressLocality": "San Diego",
        "addressRegion": "CA",
        "postalCode": "92121",
        "addressCountry": "US"
      },
      "telephone": "+1-925-925-7129",
      "openingHours": "Mo-Su 06:00-00:00"
    },
    {
      "@type": "Restaurant",
      "name": "El Pueblo Mexican Food - Carlsbad",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "7720 Rancho Santa Fe Rd, Suite 125",
        "addressLocality": "Carlsbad",
        "addressRegion": "CA",
        "postalCode": "92009",
        "addressCountry": "US"
      },
      "telephone": "+1-760-487-5810",
      "openingHoursSpecification": [
        {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"],
          "opens": "06:00",
          "closes": "22:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": ["Saturday", "Sunday"],
          "opens": "06:00",
          "closes": "00:00"
        }
      ]
    },
    {
      "@type": "Restaurant",
      "name": "El Pueblo Mexican Food - Cardiff",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "820 Birmingham Drive",
        "addressLocality": "Cardiff-By-The-Sea",
        "addressRegion": "CA",
        "postalCode": "92007",
        "addressCountry": "US"
      },
      "telephone": "+1-760-230-1771",
      "openingHours": "Mo-Su 00:00-23:59"
    }
  ]
}
</script>
