# Build output
dist/

# Node.js dependencies
node_modules/

.firebase/

functions/node_modules

design-source

.env
 
# API credentials
contact-form-api/client_secret.json
contact-form-api/token.json
contact-form-api/sheets-creds.json
