# Build output
dist/

# Node.js dependencies
node_modules/

.firebase/

functions/node_modules

design-source

.env

sheets-creds.json
contact-form-api/sheets-creds.json
 

contact-form-api/client-secret.json