---
layout: base.njk
title: "Locations"
description: "Locations"
currentPage: locations
permalink: locations.html
---

<section class="chefs section">
  <!-- Section Title -->
  <div data-aos="fade-up">
    <h1 class="h1-format" style="padding-bottom: 20px">
      El Pueblo Mexican Food Locations
    </h1>
  </div>

  <div class="container">
    <p style="padding-bottom: 40px">
      El Pueblo Mexican Food Locations offer a delightful culinary experience,
      blending traditional Mexican flavors with modern twists. With their
      welcoming ambiance, friendly staff, and diverse menu, El Pueblo promises
      authentic dishes that satisfy every craving. From tacos to burritos,
      prepare for a fiesta of flavors!
    </p>

    <div class="row gy-4">

<!-- CARLSBAD -->
<div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
  <div class="team-member" style="width: 100%">
    <div id="map-carlsbad" class="map-container" style="height: 450px; width: 100%; margin-bottom: 40px"></div>
    <div class="location-info-full">
      <div class="info-left">
        <strong><span style="font-size:28px;">El Pueblo Mexican Food</span></strong> 
        <h2 class="h2-format">Carlsbad</h2> 
        <span style="font-size:21px;">
          7720 Rancho Santa Fe Road<br />
          Carlsbad, California 92009<br />
          <a href="tel:7604875820"><strong>(760) 487-5820</strong></a><br />
          Friday & Saturday: 6am–12am<br />
          Sunday–Thursday: 6am–10pm
        </span>
      </div>
      <div class="info-buttons-full">
        <a href="https://maps.google.com/maps/dir//El+Pueblo+Mexican+Food+-+Carlsbad+7720+Rancho+Santa+Fe+Rd+Carlsbad,+CA+92009/@33.0808796,-117.2368767,14z/data=!4m5!4m4!1m0!1m2!1m1!1s0x80dc0b0e67bf0f77:0x4e3f26ba93b75fd3" target="_blank" class="location-btn-full">Get Directions</a>
        <a href="https://search.google.com/local/reviews?placeid=ChIJdw-_Zw4L3IAR01-3k7omP04&q=El+Pueblo+Mexican+Food+-+Carlsbad&hl=en&gl=US" target="_blank" class="location-btn-full">Read Google Reviews</a>
        <a href="https://g.page/r/CdNft5O6Jj9OEAI/review" target="_blank" class="location-btn-full">Leave a Review</a>
      </div>
    </div>
  </div>
</div>

<hr class="mobile-divider" data-aos="fade-up" data-aos-delay="100" />

<!-- CARDIFF -->
<div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
  <div class="team-member" style="width: 100%">
    <div id="map-cardiff" class="map-container" style="height: 450px; width: 100%; margin-bottom: 40px"></div>
    <div class="location-info-full">
      <div class="info-left">
        <strong><span style="font-size:28px;">El Pueblo Mexican Food</span></strong> 
        <h2 class="h2-format">Cardiff</h2> 
        <span style="font-size:21px;">
          820 Birmingham Drive<br />
          Cardiff, California 92007<br />
          <a href="tel:7602301771"><strong>(760) 230-1771</strong></a><br />
          Open 24 Hours
        </span>
      </div>
      <div class="info-buttons-full">
        <a href="https://maps.google.com/maps/dir//El+Pueblo+Mexican+Food+-+Cardiff+820+Birmingham+Dr+Cardiff,+CA+92007/@33.0269236,-117.2734078,16z/data=!4m5!4m4!1m0!1m2!1m1!1s0x80dc0d0bbae3cdfb:0xa7bf9c9fb75ac2b0" target="_blank" class="location-btn-full">Get Directions</a>
        <a href="https://search.google.com/local/reviews?placeid=ChIJ-83jugsN3IARsMJat5-cv6c&q=El+Pueblo+Mexican+Food+-+Cardiff&hl=en&gl=US" target="_blank" class="location-btn-full">Read Google Reviews</a>
        <a href="https://g.page/r/CbDCWrefnL-nEAI/review" target="_blank" class="location-btn-full">Leave a Review</a>
      </div>
    </div>
  </div>
</div>

<hr class="mobile-divider" data-aos="fade-up" data-aos-delay="100" />

<!-- CARMEL VALLEY -->
<div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
  <div class="team-member" style="width: 100%">
    <div id="map-carmel" class="map-container" style="height: 450px; width: 100%; margin-bottom: 40px"></div>
    <div class="location-info-full">
      <div class="info-left">
        <strong><span style="font-size:28px;">El Pueblo Mexican Food</span></strong> 
        <h2 class="h2-format">Carmel Valley</h2> 
        <span style="font-size:21px;">
          5965 Village Way Suite E107<br />
          San Diego, California 92130<br />
          <a href="tel:8585239834"><strong>(858) 523-9834</strong></a><br />
          7 Days a Week: 6am–12am
        </span>
      </div>
      <div class="info-buttons-full">
        <a href="https://maps.google.com/maps/dir//El+Pueblo+Mexican+Food+%26+Bar+-+Carmel+Valley+5965+Village+Way+e107+San+Diego,+CA+92130/@32.9618373,-117.1894402,16z/data=!4m5!4m4!1m0!1m2!1m1!1s0x80dc09b8c1f7fda7:0x7826b4039db71fa9" target="_blank" class="location-btn-full">Get Directions</a>
        <a href="https://search.google.com/local/reviews?placeid=ChIJp_33wbgJ3IARqR-3nQO0Jng&q=El+Pueblo+Mexican+Food+%26+Bar+-+Carmel+Valley+(Now+Open)&hl=en&gl=US" target="_blank" class="location-btn-full">Read Google Reviews</a>
        <a href="https://g.page/r/Cakft50DtCZ4EAI/review" target="_blank" class="location-btn-full">Leave a Review</a>
      </div>
    </div>
  </div>
</div>

<hr class="mobile-divider" data-aos="fade-up" data-aos-delay="100" />

<!-- DEL MAR -->
<div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="500">
  <div class="team-member" style="width: 100%">
    <div id="map-delmar" class="map-container" style="height: 450px; width: 100%; margin-bottom: 40px"></div>
    <div class="location-info-full">
      <div class="info-left">
        <strong><span style="font-size:28px;">El Pueblo Mexican Food</span></strong> 
        <h2 class="h2-format">Del Mar</h2> 
        <span style="font-size:21px;">
          2673 Via De La Valle, Suite C<br />
          Del Mar, California 92014<br />
          <a href="tel:8585239834"><strong>(858) 523-9834</strong></a><br />
          7 Days a Week: 6am–12am
        </span>
      </div>
      <div class="info-buttons-full">
        <a href="https://maps.google.com/maps/dir//El+Pueblo+Mexican+Food+%26+Bar+-+Del+Mar+2673+Via+De+La+Valle+suite+c+Del+Mar,+CA+92014/@32.9797285,-117.2495616,16z/data=!4m5!4m4!1m0!1m2!1m1!1s0x80dc09c1ebb0fbef:0x2a536adc25b18c1e" target="_blank" class="location-btn-full">Get Directions</a>
        <a href="https://search.google.com/local/reviews?placeid=ChIJ7_uw68EJ3IARHoyxJdxqUyo&q=El+Pueblo+Mexican+Food+%26+Bar+-+Del+Mar&hl=en&gl=US" target="_blank" class="location-btn-full">Read Google Reviews</a>
        <a href="https://g.page/r/CR6MsSXcalMqEAI/review" target="_blank" class="location-btn-full">Leave a Review</a>
      </div>
    </div>
  </div>
</div>

    </div> <!-- End Row -->
  </div> <!-- End Container -->
</section>

<!-- Google Maps Script -->
<script>
  function initMap() {
    const mapOptions = {
      zoom: 15,
      disableDefaultUI: true,
      gestureHandling: "cooperative",
      styles: [
        { featureType: "poi", stylers: [{ visibility: "off" }] },
        { featureType: "transit", stylers: [{ visibility: "off" }] },
      ],
    }

    const locations = {
      carlsbad: { lat: 33.08228238222282, lng: -117.23670533864193 },
      cardiff: { lat: 33.02750868684086, lng: -117.2732577963117 },
      carmel: { lat: 32.962350103899475, lng: -117.18963311902785 },
      delmar: { lat: 32.980062000320856, lng: -117.24945471165121 },
    }

    new google.maps.Map(document.getElementById("map-carlsbad"), {
      ...mapOptions,
      center: locations.carlsbad,
    }).setMapTypeId("roadmap")

    new google.maps.Marker({
      position: locations.carlsbad,
      map: new google.maps.Map(document.getElementById("map-carlsbad"), {
        ...mapOptions,
        center: locations.carlsbad,
      }),
      title: "El Pueblo - Carlsbad",
    })

    new google.maps.Marker({
      position: locations.cardiff,
      map: new google.maps.Map(document.getElementById("map-cardiff"), {
        ...mapOptions,
        center: locations.cardiff,
      }),
      title: "El Pueblo - Cardiff",
    })

    new google.maps.Marker({
      position: locations.carmel,
      map: new google.maps.Map(document.getElementById("map-carmel"), {
        ...mapOptions,
        center: locations.carmel,
      }),
      title: "El Pueblo - Carmel Valley",
    })

    new google.maps.Marker({
      position: locations.delmar,
      map: new google.maps.Map(document.getElementById("map-delmar"), {
        ...mapOptions,
        center: locations.delmar,
      }),
      title: "El Pueblo - Del Mar",
    })
  }
</script>

<script
  async
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCd6E4p7qvjU1F8sRoKVHu7SN0vCPDm9Xc&callback=initMap"
></script>
