---
layout: base.njk
title: "Locations"
description: "Locations"
currentPage: locations
permalink: locations.html

---
<section class="chefs section">
  <!-- Section Title -->
  <div data-aos="fade-up">
    <h1 class="h1-format" style="padding-bottom:20px;">El Pueblo Mexican Food Locations</h1>

  </div>

  <div class="container">
        <p style="padding-bottom:40px;">El Pueblo Mexican Food Locations offer a delightful culinary experience, blending traditional Mexican flavors with modern twists. With their welcoming ambiance, friendly staff, and diverse menu, El Pueblo promises authentic dishes that satisfy every craving. From tacos to burritos, prepare for a fiesta of flavors!</p>

    <div class="row gy-4">




      <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="team-member">
          <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13372.28648709034!2d-117.2367394!3d33.0809003!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dc0b0e67bf0f77%3A0x4e3f26ba93b75fd3!2sEl%20Pueblo%20Mexican%20Food%20-%20Carlsbad!5e0!3m2!1sen!2sus!4v1686348683075!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div class="member-info">
            <h2 class="h2-format">Carlsbad</h2>
            <span>Master Chef</span>
            <p>Velit aut quia fugit et et. Dolorum ea voluptate vel tempore tenetur ipsa quae aut.</p>
          </div>
        </div>
      </div>
<hr class="mobile-divider" data-aos="fade-up" data-aos-delay="100">

      <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
        <div class="team-member">
          <div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3345.1215479751622!2d-117.2759827237931!3d33.02692807117147!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dc0d0bbae3cdfb%3A0xa7bf9c9fb75ac2b0!2sEl%20Pueblo%20Mexican%20Food%20-%20Cardiff!5e0!3m2!1sen!2sus!4v1686343143975!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div class="member-info">
           <h2 class="h2-format">Cardiff</h2>
            <span>Master Chef</span>
            <p>Velit aut quia fugit et et. Dolorum ea voluptate vel tempore tenetur ipsa quae aut.</p>
          </div>
        </div>
      </div>
<hr class="mobile-divider" data-aos="fade-up" data-aos-delay="100">
      <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
        <div class="team-member">
          <div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3347.589650772569!2d-117.19201512381568!3d32.961841774516806!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dc09b8c1f7fda7%3A0x7826b4039db71fa9!2sEl%20Pueblo%20Mexican%20Food%20%26%20Bar%20-%20Carmel%20Valley%20(Now%20Open)!5e0!3m2!1sen!2sus!4v1694205526045!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div class="member-info">
           <h2 class="h2-format">Carmel Valley</h2>
            <span>Master Chef</span>
            <p>Velit aut quia fugit et et. Dolorum ea voluptate vel tempore tenetur ipsa quae aut.</p>
          </div>
        </div>
      </div>
<hr class="mobile-divider" data-aos="fade-up" data-aos-delay="100">
      <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
        <div class="team-member">
          <div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3346.911808098399!2d-117.24956159999999!3d32.9797285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dc09c1ebb0fbef%3A0x2a536adc25b18c1e!2sEl%20Pueblo%20Mexican%20Food%20%26%20Bar%20-%20Del%20Mar!5e0!3m2!1sen!2sus!4v1743184020496!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div class="member-info">
          <h2 class="h2-format">Del Mar</h2>
            <span>Master Chef</span>
            <p>Velit aut quia fugit et et. Dolorum ea voluptate vel tempore tenetur ipsa quae aut.</p>
          </div>
        </div>
      </div>

    </div>   <!-- End Row -->
  </div> <!-- End Container -->
</section>
 