---
layout: base.njk
title: "Menu"
description: "Our delicious menu items"
currentPage: menu
permalink: menu.html
---

<section id="menu" class="menu section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <hr
      style="
        border: none;
        height: 5px;
        background: linear-gradient(to right, #7f120b, #7f120b);
        margin: 20px 0;
        opacity: 1 !important;
      "
    />

    <h1
      style="
        font-size: 48px;
        text-align: center;
        font-weight: 700;
        color: var(--accent-color);
      "
    >
      El Pueblo Mexican Food's Menu
    </h1>

    <p style="font-size: 21px; text-align: center">
      Bringing the Heart of Mexico to Your Table!
    </p>
    <hr
      style="
        border: none;
        height: 5px;
        background: linear-gradient(to right,  #7f120b, #7f120b);
        margin: 20px 0;
        opacity: 1 !important;
      "
    />
  </div>
  <!-- End Section Title -->

  <div class="container">
    <ul
      class="nav nav-tabs d-flex justify-content-center"
      data-aos="fade-up"
      data-aos-delay="100"
          >
          

      <li class="nav-item">
        <a
          class="nav-link active show"
          data-bs-toggle="tab"
          data-bs-target="#menu-Breakfast-Burritos"
        >
          <h4>Breakfast Burritos</h4>
        </a>
      </li>
      <!-- End tab nav item -->

      <li class="nav-item">
        <a
          class="nav-link"
          data-bs-toggle="tab"
          data-bs-target="#menu-Breakfast-Plates"
        >
          <h4>Breakfast Plates</h4>
        </a>
      </li>
      <!-- End tab nav item -->

      <li class="nav-item">
        <a
          class="nav-link"
          data-bs-toggle="tab"
          data-bs-target="#menu-Burritos"
        >
          <h4>Burritos</h4>
        </a>
      </li>
      <!-- End tab nav item -->

      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-Bowls">
          <h4>Bowls</h4>
        </a>
      </li>
      <!-- End tab nav item -->

      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-Tacos">
          <h4>Tacos</h4>
        </a>
      </li>
      <!-- End tab nav item -->

      <li class="nav-item">
        <a
          class="nav-link"
          data-bs-toggle="tab"
          data-bs-target="#menu-Enchiladas"
        >
          <h4>Enchiladas</h4>
        </a>
      </li>
      <!-- End tab nav item -->

      <li class="nav-item">
        <a
          class="nav-link"
          data-bs-toggle="tab"
          data-bs-target="#menu-Quesadillas"
        >
          <h4>Quesadillas</h4>
        </a>
      </li>
 

      <li class="nav-item">
        <a
          class="nav-link"
          data-bs-toggle="tab"
          data-bs-target="#menu-Dinner-Combos"
        >
          <h4>Dinner Combos</h4>
        </a>
      </li>


      <!-- End tab nav item -->
            <li class="nav-item">
        <a
          class="nav-link"
          data-bs-toggle="tab"
          data-bs-target="#chips-fries"
        >
          <h4>Chips & Fries</h4>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-Sides"
          ><h4>Sides</h4></a
        >
      </li>

      <!-- End tab nav item -->


    </ul>


    
    <div class="tab-content" data-aos="fade-up" data-aos-delay="200">
      <!-- Breakfast Burritos Section -->
      <div class="tab-pane fade active show" id="menu-Breakfast-Burritos">
        <div class="tab-header text-center">
          <h3>Breakfast Burritos</h3>
        </div>
        <div class="row gy-5">
          <!-- Super Breakfast Burrito -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/super-breakfast-burrito.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/super-breakfast-burrito.jpg"
                class="menu-img img-fluid"
                alt="Super Breakfast Burrito"
              />
            </a>
            <h4>Super Breakfast Burrito</h4>
            <p class="ingredients">
              Eggs, Beans, Cheese, Potato, and Choice of Ham or Bacon
            </p>
          </div>

          <!-- Steak and Eggs Burrito -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/steak-and-eggs-burrito.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/steak-and-eggs-burrito.jpg"
                class="menu-img img-fluid"
                alt="Steak and Eggs Burrito"
              />
            </a>
            <h4>Steak and Eggs Burrito</h4>
            <p class="ingredients">Steak, Scrambled Eggs, and Cheese</p>
          </div>

          <!-- Machaca Burrito -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/machaca-burrito.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/machaca-burrito.jpg"
                class="menu-img img-fluid"
                alt="Machaca Burrito"
              />
            </a>
            <h4>Machaca Burrito</h4>
            <p class="ingredients">
              Shredded Beef, Bell Peppers, Onion, Tomato, Scrambled with Eggs
            </p>
          </div>

          <!-- Breakfast Burrito -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/breakfast-burrito.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/breakfast-burrito.jpg"
                class="menu-img img-fluid"
                alt="Breakfast Burrito"
              />
            </a>
            <h4>Breakfast Burrito</h4>
            <p class="ingredients">Eggs, Beans, and Cheese</p>
          </div>

          <!-- Chorizo Burrito -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/chorizo-burrito.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/chorizo-burrito.jpg"
                class="menu-img img-fluid"
                alt="Chorizo Burrito"
              />
            </a>
            <h4>Chorizo Burrito</h4>
            <p class="ingredients">Eggs and Chorizo</p>
          </div>
        </div>
      </div>

      <!-- Breakfast Plates Section -->
      <div class="tab-pane fade" id="menu-Breakfast-Plates">
        <div class="tab-header text-center">
          <h3>Breakfast Plates</h3>
        </div>
        <div class="row gy-5">
          <!-- Huevos a la Mexicana -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/huevos-a-la-mexicana.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/huevos-a-la-mexicana.jpg"
                class="menu-img img-fluid"
                alt="Huevos a la Mexicana"
              />
            </a>
            <h4>Huevos a la Mexicana</h4>
            <p class="ingredients">
              Scrambled Eggs, Bell Pepper, Onion, Tomato, and Cheese
            </p>
          </div>

          <!-- Huevos con Jamon -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/huevos-con-jamon.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/huevos-con-jamon.jpg"
                class="menu-img img-fluid"
                alt="Huevos con Jamon"
              />
            </a>
            <h4>Huevos con Jamon</h4>
            <p class="ingredients">Scrambled Eggs, Ham, and Cheese</p>
          </div>

          <!-- Huevos Rancheros -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/huevos-rancheros.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/huevos-rancheros.jpg"
                class="menu-img img-fluid"
                alt="Huevos Rancheros"
              />
            </a>
            <h4>Huevos Rancheros</h4>
            <p class="ingredients">
              Fried Eggs over a Fried Tortilla with Salsa Ranchera and Cheese
            </p>
          </div>

          <!-- Chilaquiles Rojos or Verdes -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/chilaquiles-verdes.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/chilaquiles-verdes.jpg"
                class="menu-img img-fluid"
                alt="Chilaquiles Rojos or Verdes"
              />
            </a>
            <h4>Chilaquiles Rojos or Verdes</h4>
            <p class="ingredients">
              Tortilla Chips, Scrambled Eggs, Onions, Cilantro, Sour Cream, and
              Cheese with Choice of Red or Green Sauce
            </p>
          </div>
        </div>
      </div>

      <!-- Burritos Section -->
      <div class="tab-pane fade" id="menu-Burritos">
        <div class="tab-header text-center">
          <h3>Burritos</h3>
        </div>
        <div class="row gy-5">
          <!-- Fish Burrito -->
          <div class="col-lg-4 menu-item">
            <a href="/assets/img/menu-items/soon.jpg" class="glightbox">
              <img
                src="/assets/img/menu-items/soon.jpg"
                class="menu-img img-fluid"
                alt="Fish Burrito"
              />
            </a>
            <h4>Fish Burrito</h4>
            <p class="ingredients">
              Chipotle Sauce, Fried Fish, Cabbage, and Pico de Gallo
            </p>
          </div>

          <!-- Carne Asada Burrito -->
          <div class="col-lg-4 menu-item">
            <a href="/assets/img/menu-items/soon.jpg" class="glightbox">
              <img
                src="/assets/img/menu-items/soon.jpg"
                class="menu-img img-fluid"
                alt="Carne Asada Burrito"
              />
            </a>
            <h4>Carne Asada Burrito</h4>
            <p class="ingredients">
              Carne Asada with Pico de Gallo and Guacamole
            </p>
          </div>

          <!-- Supreme Veggie Burrito -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/supreme-burrito.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/supreme-burrito.jpg"
                class="menu-img img-fluid"
                alt="Supreme Veggie Burrito"
              />
            </a>
            <h4>Supreme Veggie Burrito</h4>
            <p class="ingredients">
              Beans, Rice, Pico de Gallo, Sour Cream, and Cheese
            </p>
          </div>

          <!-- Bean and Cheese Burrito -->
          <div class="col-lg-4 menu-item">
            <a href="/assets/img/menu-items/soon.jpg" class="glightbox">
              <img
                src="/assets/img/menu-items/soon.jpg"
                class="menu-img img-fluid"
                alt="Bean and Cheese Burrito"
              />
            </a>
            <h4>Bean and Cheese Burrito</h4>
            <p class="ingredients">Beans and Cheese in a Warm Tortilla</p>
          </div>

          <!-- Shredded Chicken Burrito -->
          <div class="col-lg-4 menu-item">
            <a href="/assets/img/menu-items/soon.jpg" class="glightbox">
              <img
                src="/assets/img/menu-items/soon.jpg"
                class="menu-img img-fluid"
                alt="Shredded Chicken Burrito"
              />
            </a>
            <h4>Shredded Chicken Burrito</h4>
            <p class="ingredients">Shredded Chicken with Rice or Beans</p>
          </div>

          <!-- Chile Relleno Burrito -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/chile-relleno-burrito.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/chile-relleno-burrito.jpg"
                class="menu-img img-fluid"
                alt="Chile Relleno Burrito"
              />
            </a>
            <h4>Chile Relleno Burrito</h4>
            <p class="ingredients">
              Stuffed Chile Pepper, Beans, Sour Cream, and Cheese
            </p>
          </div>

          <!-- Pollo Asado Burrito -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/pollo-asado-burrito.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/pollo-asado-burrito.jpg"
                class="menu-img img-fluid"
                alt="Pollo Asado Burrito"
              />
            </a>
            <h4>Pollo Asado Burrito</h4>
            <p class="ingredients">Pollo Asado, Guacamole, and Pico de Gallo</p>
          </div>

          <!-- Conga Burrito -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/conga-burrito.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/conga-burrito.jpg"
                class="menu-img img-fluid"
                alt="Conga Burrito"
              />
            </a>
            <h4>Conga Burrito</h4>
            <p class="ingredients">Choice of Any Meat, with Rice and Beans</p>
          </div>

          <!-- Carnitas Burrito -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/carnitas-burrito2.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/carnitas-burrito2.jpg"
                class="menu-img img-fluid"
                alt="Carnitas Burrito"
              />
            </a>
            <h4>Carnitas Burrito</h4>
            <p class="ingredients">Carnitas, Guacamole, and Pico de Gallo</p>
          </div>

          <!-- California Burrito -->
          <div class="col-lg-4 menu-item">
            <a href="/assets/img/menu-items/cali-burrito.jpg" class="glightbox">
              <img
                src="/assets/img/menu-items/cali-burrito.jpg"
                class="menu-img img-fluid"
                alt="California Burrito"
              />
            </a>
            <h4>California Burrito</h4>
            <p class="ingredients">
              Choice of Any Meat, French Fries, Pico de Gallo, and Cheese
            </p>
          </div>

          <!-- Fajitas Burrito -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/fajitas-burrito.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/fajitas-burrito.jpg"
                class="menu-img img-fluid"
                alt="Fajitas Burrito"
              />
            </a>
            <h4>Fajitas Burrito</h4>
            <p class="ingredients">
              Choice of Meat, Tomato, Onion, Bell Pepper, and Guacamole
            </p>
          </div>

          <!-- Surf and Turf Burrito -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/surf-n'-turf-burrito.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/surf-n'-turf-burrito.jpg"
                class="menu-img img-fluid"
                alt="Surf and Turf Burrito"
              />
            </a>
            <h4>Surf and Turf Burrito</h4>
            <p class="ingredients">
              Carne Asada, Shrimp, Guacamole, Sour Cream, and Rice
            </p>
          </div>

          <!-- Adobada Burrito -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/adobada-burrito.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/adobada-burrito.jpg"
                class="menu-img img-fluid"
                alt="Adobada Burrito"
              />
            </a>
            <h4>Adobada Burrito</h4>
            <p class="ingredients">
              Adobada, Guacamole, Onion, Cilantro, and Cheese
            </p>
          </div>
          <!-- Shrimp Burrito -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/shrimp-burrito.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/shrimp-burrito.jpg"
                class="menu-img img-fluid"
                alt="Shrimp Burrito"
              />
            </a>
            <h4>Shrimp Burrito</h4>
            <p class="ingredients">
              Shrimp, Ranchera Sauce, Rice, and Sour Cream
            </p>
          </div>

          <!-- Chimichanga -->
          <div class="col-lg-4 menu-item">
            <a href="/assets/img/menu-items/chimichanga.jpg" class="glightbox">
              <img
                src="/assets/img/menu-items/chimichanga.jpg"
                class="menu-img img-fluid"
                alt="Chimichanga"
              />
            </a>
            <h4>Chimichanga</h4>
            <p class="ingredients">
              Deep-Fried Burrito with Choice of Shredded Chicken or Beef, served
              with Guacamole, Sour Cream, and Pico de Gallo
            </p>
          </div>

          <!-- Lengua Burrito -->
          <div class="col-lg-4 menu-item">
            <a href="/assets/img/menu-items/soon.jpg" class="glightbox">
              <img
                src="/assets/img/menu-items/soon.jpg"
                class="menu-img img-fluid"
                alt="Lengua Burrito"
              />
            </a>
            <h4>Lengua Burrito</h4>
            <p class="ingredients">
              Lengua (Beef Tongue), Guacamole, Onion, and Cilantro
            </p>
          </div>

          <!-- Shredded Beef Burrito -->
          <div class="col-lg-4 menu-item">
            <a href="/assets/img/menu-items/soon.jpg" class="glightbox">
              <img
                src="/assets/img/menu-items/soon.jpg"
                class="menu-img img-fluid"
                alt="Shredded Beef Burrito"
              />
            </a>
            <h4>Shredded Beef Burrito</h4>
            <p class="ingredients">Shredded Beef and Ranchera Sauce</p>
          </div>
        </div>
      </div>

      <!-- Bowls Section -->
      <div class="tab-pane fade" id="menu-Bowls">
        <div class="tab-header text-center">
          <h3>Bowls</h3>
        </div>
        <div class="row gy-5">
          <!-- Breakfast Bowl -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/breakfast-bowl.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/breakfast-bowl.jpg"
                class="menu-img img-fluid"
                alt="Breakfast Bowl"
              />
            </a>
            <h4>Breakfast Bowl</h4>
            <p class="ingredients">
              Eggs, Beans, Potatoes, Rice, Cheese, and Cilantro
            </p>
          </div>

          <!-- Surf and Turf Bowl -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/surf-and-turf-bowl.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/surf-and-turf-bowl.jpg"
                class="menu-img img-fluid"
                alt="Surf and Turf Bowl"
              />
            </a>
            <h4>Surf and Turf Bowl</h4>
            <p class="ingredients">
              Carne Asada, Shrimp, Guacamole, Rice, and Sour Cream
            </p>
          </div>

          <!-- Protein Bowl -->
          <div class="col-lg-4 menu-item">
            <a href="/assets/img/menu-items/protein-bowl.jpg" class="glightbox">
              <img
                src="/assets/img/menu-items/protein-bowl.jpg"
                class="menu-img img-fluid"
                alt="Protein Bowl"
              />
            </a>
            <h4>Protein Bowl</h4>
            <p class="ingredients">
              Beans, Rice, Lettuce, Pico de Gallo, Guacamole, and Choice of Meat
            </p>
          </div>

          <!-- Super Breakfast Bowl -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/super-breakfast-bowl.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/super-breakfast-bowl.jpg"
                class="menu-img img-fluid"
                alt="Super Breakfast Bowl"
              />
            </a>
            <h4>Super Breakfast Bowl</h4>
            <p class="ingredients">
              Eggs, Beans, Cheese, Potatoes, and Choice of Breakfast Meat
            </p>
          </div>
        </div>
      </div>

      <!-- Tacos Section -->
      <!-- Tacos Section -->
      <div class="tab-pane fade" id="menu-Tacos">
        <div class="tab-header text-center">
          <h3>Tacos</h3>
        </div>
        <div class="row gy-5">
          <!-- Carne Asada Taco -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/carne-asada-taco.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/carne-asada-taco.jpg"
                class="menu-img img-fluid"
                alt="Carne Asada Taco"
              />
            </a>
            <h4>Carne Asada Taco</h4>
            <p class="ingredients">Carne Asada, Pico de Gallo, and Guacamole</p>
          </div>

          <!-- Carnitas Taco -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/carnitas-taco.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/carnitas-taco.jpg"
                class="menu-img img-fluid"
                alt="Carnitas Taco"
              />
            </a>
            <h4>Carnitas Taco</h4>
            <p class="ingredients">Carnitas, Pico de Gallo, and Guacamole</p>
          </div>

          <!-- Shrimp Taco -->
          <div class="col-lg-4 menu-item">
            <a href="/assets/img/menu-items/shrimp-taco.jpg" class="glightbox">
              <img
                src="/assets/img/menu-items/shrimp-taco.jpg"
                class="menu-img img-fluid"
                alt="Shrimp Taco"
              />
            </a>
            <h4>Shrimp Taco</h4>
            <p class="ingredients">
              Shrimp, Rice, Sour Cream, and Salsa Ranchera
            </p>
          </div>

          <!-- Taco Tongue -->
          <div class="col-lg-4 menu-item">
            <a href="/assets/img/menu-items/lengua-taco.jpg" class="glightbox">
              <img
                src="/assets/img/menu-items/lengua-taco.jpg"
                class="menu-img img-fluid"
                alt="Taco Tongue"
              />
            </a>
            <h4>Taco Tongue</h4>
            <p class="ingredients">
              Lengua (Beef Tongue), Guacamole, Onion, and Cilantro
            </p>
          </div>

          <!-- Adobada Taco -->
          <div class="col-lg-4 menu-item">
            <a href="/assets/img/menu-items/adobada-taco.jpg" class="glightbox">
              <img
                src="/assets/img/menu-items/adobada-taco.jpg"
                class="menu-img img-fluid"
                alt="Adobada Taco"
              />
            </a>
            <h4>Adobada Taco</h4>
            <p class="ingredients">Adobada, Onion, Cilantro, and Guacamole</p>
          </div>

          <!-- 3 Flautas -->
          <div class="col-lg-4 menu-item">
            <a href="/assets/img/menu-items/flautas-(3).jpg" class="glightbox">
              <img
                src="/assets/img/menu-items/flautas-(3).jpg"
                class="menu-img img-fluid"
                alt="3 Flautas"
              />
            </a>
            <h4>3 Flautas</h4>
            <p class="ingredients">
              Choice of Chicken or Beef, with Guacamole, Lettuce, Sour Cream,
              and Cheese
            </p>
          </div>

          <!-- Hardshell Shredded Beef Taco -->
          <div class="col-lg-4 menu-item">
            <a href="/assets/img/menu-items/soon.jpg" class="glightbox">
              <img
                src="/assets/img/menu-items/soon.jpg"
                class="menu-img img-fluid"
                alt="Hardshell Shredded Beef Taco"
              />
            </a>
            <h4>Hardshell Shredded Beef Taco</h4>
            <p class="ingredients">Shredded Beef, Lettuce, and Cheese</p>
          </div>

          <!-- 5 Rolled Tacos -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/rolled-with-guacamole-(5).jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/rolled-with-guacamole-(5).jpg"
                class="menu-img img-fluid"
                alt="5 Rolled Tacos"
              />
            </a>
            <h4>5 Rolled Tacos</h4>
            <p class="ingredients">
              Topped with Guacamole or Sour Cream. Choice of Chicken or Beef
            </p>
          </div>

          <!-- Hardshell Shredded Chicken Taco -->
          <div class="col-lg-4 menu-item">
            <a href="/assets/img/menu-items/soon.jpg" class="glightbox">
              <img
                src="/assets/img/menu-items/soon.jpg"
                class="menu-img img-fluid"
                alt="Hardshell Shredded Chicken Taco"
              />
            </a>
            <h4>Hardshell Shredded Chicken Taco</h4>
            <p class="ingredients">Shredded Chicken, Lettuce, and Cheese</p>
          </div>

          <!-- 3 Rolled Tacos -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/rolled-with-guacamole-(3).jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/rolled-with-guacamole-(3).jpg"
                class="menu-img img-fluid"
                alt="3 Rolled Tacos"
              />
            </a>
            <h4>3 Rolled Tacos</h4>
            <p class="ingredients">
              Topped with Guacamole or Sour Cream. Choice of Chicken or Beef
            </p>
          </div>

          <!-- El Pueblo Fish Taco -->
          <div class="col-lg-4 menu-item">
            <a href="/assets/img/menu-items/fish-taco.jpg" class="glightbox">
              <img
                src="/assets/img/menu-items/fish-taco.jpg"
                class="menu-img img-fluid"
                alt="El Pueblo Fish Taco"
              />
            </a>
            <h4>El Pueblo Fish Taco</h4>
            <p class="ingredients">
              Chipotle Sauce, Cabbage, and Pico de Gallo
            </p>
          </div>

          <!-- Pollo Asado Taco -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/pollo-asado-taco.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/pollo-asado-taco.jpg"
                class="menu-img img-fluid"
                alt="Pollo Asado Taco"
              />
            </a>
            <h4>Pollo Asado Taco</h4>
            <p class="ingredients">Pollo Asado, Guacamole, and Pico de Gallo</p>
          </div>
        </div>
      </div>

      <!-- Enchiladas Section -->
      <div class="tab-pane fade" id="menu-Enchiladas">
        <div class="tab-header text-center">
          <h3>Enchiladas</h3>
        </div>
        <div class="row gy-5">
          <!-- Beef Enchiladas (2) -->
          <div class="col-lg-4 menu-item">
            <a href="/assets/img/menu-items/enchiladas.jpg" class="glightbox">
              <img
                src="/assets/img/menu-items/enchiladas.jpg"
                class="menu-img img-fluid"
                alt="Beef Enchiladas"
              />
            </a>
            <h4>Beef Enchiladas (2)</h4>
            <p class="ingredients">
              Beef, Enchilada Sauce, Lettuce, and Cheese
            </p>
          </div>

          <!-- Shredded Chicken Enchiladas (2) -->
          <div class="col-lg-4 menu-item">
            <a href="/assets/img/menu-items/soon.jpg" class="glightbox">
              <img
                src="/assets/img/menu-items/soon.jpg"
                class="menu-img img-fluid"
                alt="Shredded Chicken Enchiladas"
              />
            </a>
            <h4>Shredded Chicken Enchiladas (2)</h4>
            <p class="ingredients">
              Shredded Chicken, Enchilada Sauce, Lettuce, and Cheese
            </p>
          </div>

          <!-- Cheese Enchiladas (2) -->
          <div class="col-lg-4 menu-item">
            <a href="/assets/img/menu-items/soon.jpg" class="glightbox">
              <img
                src="/assets/img/menu-items/soon.jpg"
                class="menu-img img-fluid"
                alt="Cheese Enchiladas"
              />
            </a>
            <h4>Cheese Enchiladas (2)</h4>
            <p class="ingredients">
              Cheese, Enchilada Sauce, Lettuce, and Beans
            </p>
          </div>
        </div>
      </div>

      <!-- Quesadillas Section -->
      <div class="tab-pane fade" id="menu-Quesadillas">
        <div class="tab-header text-center">
          <h3>Quesadillas</h3>
        </div>
        <div class="row gy-5">
          <!-- Veggie Quesadilla -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/veggie-quesadilla.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/veggie-quesadilla.jpg"
                class="menu-img img-fluid"
                alt="Veggie Quesadilla"
              />
            </a>
            <h4>Veggie Quesadilla</h4>
            <p class="ingredients">Pico de Gallo, Lettuce, and Sour Cream</p>
          </div>

          <!-- Carne Asada Quesadilla -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/carne-asada-quesadilla.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/carne-asada-quesadilla.jpg"
                class="menu-img img-fluid"
                alt="Carne Asada Quesadilla"
              />
            </a>
            <h4>Carne Asada Quesadilla</h4>
            <p class="ingredients">
              Stuffed with Carne Asada and Mexican Cheese
            </p>
          </div>

          <!-- Shrimp Quesadilla -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/shrimp-quesadilla.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/shrimp-quesadilla.jpg"
                class="menu-img img-fluid"
                alt="Shrimp Quesadilla"
              />
            </a>
            <h4>Shrimp Quesadilla</h4>
            <p class="ingredients">Shrimp and Cheese in a Warm Tortilla</p>
          </div>

          <!-- Cheese Quesadilla -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/cheese-quesadilla.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/cheese-quesadilla.jpg"
                class="menu-img img-fluid"
                alt="Cheese Quesadilla"
              />
            </a>
            <h4>Cheese Quesadilla</h4>
            <p class="ingredients">Tortilla and Cheese with a Mexican Twist</p>
          </div>

          <!-- Shredded Chicken Quesadilla -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/shredded-chicken-quesadilla.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/shredded-chicken-quesadilla.jpg"
                class="menu-img img-fluid"
                alt="Shredded Chicken Quesadilla"
              />
            </a>
            <h4>Shredded Chicken Quesadilla</h4>
            <p class="ingredients">
              Shredded Chicken and Cheese in a Warm Tortilla
            </p>
          </div>

          <!-- Pollo Asado Quesadilla -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/pollo-asada-quesadilla.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/pollo-asada-quesadilla.jpg"
                class="menu-img img-fluid"
                alt="Pollo Asado Quesadilla"
              />
            </a>
            <h4>Pollo Asado Quesadilla</h4>
            <p class="ingredients">Grilled Pollo Asado and Cheese</p>
          </div>

          <!-- Adobada Quesadilla -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/adobada-quesadilla.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/adobada-quesadilla.jpg"
                class="menu-img img-fluid"
                alt="Adobada Quesadilla"
              />
            </a>
            <h4>Adobada Quesadilla</h4>
            <p class="ingredients">Adobada and Cheese in a Warm Tortilla</p>
          </div>

          <!-- Carnitas Quesadilla -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/carnitas-quesadilla.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/carnitas-quesadilla.jpg"
                class="menu-img img-fluid"
                alt="Carnitas Quesadilla"
              />
            </a>
            <h4>Carnitas Quesadilla</h4>
            <p class="ingredients">Carnitas and Cheese in a Warm Tortilla</p>
          </div>
        </div>
      </div>

      <!-- Tortas Section -->
      {#
      <div class="tab-pane fade" id="menu-Tortas">
        <div class="tab-header text-center">
          <h3>Tortas</h3>
        </div>
        <div class="row gy-5">
          <!-- Torta -->
          <div class="col-lg-4 menu-item">
            <a href="/assets/img/menu-items/soon.jpg" class="glightbox">
              <img
                src="/assets/img/menu-items/soon.jpg"
                class="menu-img img-fluid"
                alt="Torta"
              />
            </a>
            <h4>Torta</h4>
            <p class="ingredients">
              A Mexican Sandwich with Meat, Beans, Lettuce, Tomato, and Avocado
            </p>
          </div>
        </div>
      </div>
      #}

      <div class="tab-pane fade" id="menu-Dinner-Combos">
        <div class="tab-header text-center">
          <h3>Dinner Combos</h3>
        </div>
        <div class="row gy-5">
          <!-- Chille Relleno Plate -->
          <div class="col-lg-4 menu-item">
            <a href="/assets/img/menu-items/soon.jpg" class="glightbox">
              <img
                src="/assets/img/menu-items/soon.jpg"
                class="menu-img img-fluid"
                alt="Chille Relleno Plate"
              />
            </a>
            <h4>Chille Relleno Plate</h4>
            <p class="ingredients">
              Cheese Stuffed Chilles. Served with Rice, Beans, Lettuce, Guac,
              Salsa Fresca, and Tortillas
            </p>
          </div>

          <!-- Carne Asada Plate -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/carne-asada-plate.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/carne-asada-plate.jpg"
                class="menu-img img-fluid"
                alt="Carne Asada Plate"
              />
            </a>
            <h4>Carne Asada Plate</h4>
            <p class="ingredients">
              Perfectly Seasoned Carne Asada. Served with Rice, Beans, Lettuce,
              Guac, Salsa Fresca, and Tortillas
            </p>
          </div>

          <!-- Fajitas Plate -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/fajitas-plate.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/fajitas-plate.jpg"
                class="menu-img img-fluid"
                alt="Fajitas Plate"
              />
            </a>
            <h4>Fajitas Plate</h4>
            <p class="ingredients">
              Fajitas, but Combo Style! Option of Chicken or Beef. Served with
              Rice, Beans, Lettuce, Guac, Salsa Fresca, and Tortillas
            </p>
          </div>

          <!-- Machaca Plate -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/machaca-plate.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/machaca-plate.jpg"
                class="menu-img img-fluid"
                alt="Machaca Plate"
              />
            </a>
            <h4>Machaca Plate</h4>
            <p class="ingredients">
              Served with Rice, Beans, Lettuce, Guac, Salsa Fresca, and
              Tortillas
            </p>
          </div>

          <!-- Chorizo Plate -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/chorizo-plate.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/chorizo-plate.jpg"
                class="menu-img img-fluid"
                alt="Chorizo Plate"
              />
            </a>
            <h4>Chorizo Plate</h4>
            <p class="ingredients">
              Served with Rice, Beans, Lettuce, Guac, Salsa Fresca, and
              Tortillas
            </p>
          </div>

          <!-- Carnitas Plate -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/carnitas-plate.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/carnitas-plate.jpg"
                class="menu-img img-fluid"
                alt="Carnitas Plate"
              />
            </a>
            <h4>Carnitas Plate</h4>
            <p class="ingredients">
              Served with Rice, Beans, Lettuce, Guac, Salsa Fresca, and
              Tortillas
            </p>
          </div>
        </div>
      </div>

      <!-- Chips and Fries Section -->
      <div class="tab-pane fade" id="chips-fries">
        <div class="tab-header text-center">
          <h3>Chips & Fries</h3>
        </div>
        <div class="row gy-5">
          <div class="col-lg-4 menu-item">
            <a href="/assets/img/menu-items/soon.jpg" class="glightbox">
              <img
                src="/assets/img/menu-items/soon.jpg"
                class="menu-img img-fluid"
                alt="Chips and Salsa"
              />
            </a>
            <h4>Chips and Salsa</h4>
            <p class="ingredients">
               Golden tortilla chips with zesty, house-made salsa duo
            </p>
          </div>

          <div class="col-lg-4 menu-item">
            <a href="/assets/img/menu-items/soon.jpg" class="glightbox">
              <img
                src="/assets/img/menu-items/soon.jpg"
                class="menu-img img-fluid"
                alt="Chips and Guacamole"
              />
            </a>
            <h4>Chips and Guacamole</h4>
            <p class="ingredients">
               Crunchy tortilla chips paired with smooth, fresh guacamole
            </p>
          </div>

          <div class="col-lg-4 menu-item">
            <a href="/assets/img/menu-items/soon.jpg" class="glightbox">
              <img
                src="/assets/img/menu-items/soon.jpg"
                class="menu-img img-fluid"
                alt="Nachos Supreme"
              />
            </a>
            <h4>Nachos Supreme</h4>
            <p class="ingredients">
             Loaded nachos with melted cheese, beans, and more
            </p>
          </div>

          <div class="col-lg-4 menu-item">
            <a href="/assets/img/menu-items/soon.jpg" class="glightbox">
              <img
                src="/assets/img/menu-items/soon.jpg"
                class="menu-img img-fluid"
                alt="Protein Fries"
              />
            </a>
            <h4>Protein Fries</h4>
            <p class="ingredients">
                Crispy fries smothered in meat, bold and tasty
              </p>
          </div>
                    <div class="col-lg-4 menu-item">
            <a href="/assets/img/menu-items/soon.jpg" class="glightbox">
              <img
                src="/assets/img/menu-items/soon.jpg"
                class="menu-img img-fluid"
                alt="Veggie Fries"
              />
            </a>
            <h4>Veggie Fries</h4>
            <p class="ingredients">
              Golden fries piled with fresh, flavorful grilled veggies
              </p>
          </div>
          <div class="col-lg-4 menu-item">
            <a href="/assets/img/menu-items/soon.jpg" class="glightbox">
              <img
                src="/assets/img/menu-items/soon.jpg"
                class="menu-img img-fluid"
                alt="Shrimp Fries"
              />
            </a>
            <h4>Shrimp Fries</h4>
            <p class="ingredients">
              Golden fries topped with seasoned, sautéed shrimp
              </p>
          </div>
          <div class="col-lg-4 menu-item">
            <a href="/assets/img/menu-items/soon.jpg" class="glightbox">
              <img
                src="/assets/img/menu-items/soon.jpg"
                class="menu-img img-fluid"
                alt="Surf & Turf Fries"
              />
            </a>
            <h4>Surf & Turf Fries</h4>
            <p class="ingredients">
              Hearty fries loaded with shrimp and savory steak
              </p>
          </div>
        </div>
      </div>

      
      <!-- Sides Section -->
      <div class="tab-pane fade" id="menu-Sides">
        <div class="tab-header text-center">
          <h3>Sides</h3>
        </div>
        <div class="row gy-5">
          <div class="col-lg-4 menu-item">
            <a href="/assets/img/menu-items/soon.jpg" class="glightbox">
              <img
                src="/assets/img/menu-items/soon.jpg"
                class="menu-img img-fluid"
                alt="Beans, Rice or Sour Cream (8oz.)"
              />
            </a>
            <h4>Beans, Rice or Sour Cream (8oz.)</h4>
            <p class="ingredients">
              Flavorful side of beans, rice, or sour cream
            </p>
          </div>

          <div class="col-lg-4 menu-item">
            <a href="/assets/img/menu-items/soon.jpg" class="glightbox">
              <img
                src="/assets/img/menu-items/soon.jpg"
                class="menu-img img-fluid"
                alt="guacamole"
              />
            </a>
            <h4>Guacamole (4oz.)</h4>
            <p class="ingredients">
              Fresh, zesty guacamole perfect for chips or more
            </p>
          </div>

          <div class="col-lg-4 menu-item">
            <a href="/assets/img/menu-items/soon.jpg" class="glightbox">
              <img
                src="/assets/img/menu-items/soon.jpg"
                class="menu-img img-fluid"
                alt="chile relleno"
              />
            </a>
            <h4>Chile Relleno</h4>
            <p class="ingredients">
              Cheesy stuffed pepper, fried golden, totally crave-worthy bite
            </p>
          </div>

          <div class="col-lg-4 menu-item">
            <a href="/assets/img/menu-items/chickentortsoup.jpg" class="glightbox">
              <img
                src="/assets/img/menu-items/chickentortsoup.jpg"
                class="menu-img img-fluid"
                alt="Chicken Tortilla Soup"
              />
            </a>
            <h4>Chicken Tortilla Soup</h4>
            <p class="ingredients">Hearty soup with chicken, tortillas, and warm spices</p>
          </div>
        </div>
      </div>

      <!-- /END TAB CONTENT xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    </div>
  </div>
</section>
<!-- /Menu Section -->
