---
layout: base.njk
title: "Menu"
description: "Our delicious menu items"
currentPage: menu
permalink: menu.html
---

<section id="menu" class="menu section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h1>Our Menu</h1>
  </div>
  <!-- End Section Title -->

  <div class="container">
    <ul
      class="nav nav-tabs d-flex justify-content-center"
      data-aos="fade-up"
      data-aos-delay="100"
    >
      <li class="nav-item">
        <a
          class="nav-link active show"
          data-bs-toggle="tab"
          data-bs-target="#menu-Breakfast-Burritos"
        >
          <h4>Breakfast Burritos</h4>
        </a>
      </li>
      <!-- End tab nav item -->

      <li class="nav-item">
        <a
          class="nav-link"
          data-bs-toggle="tab"
          data-bs-target="#menu-Breakfast-Plates"
        >
          <h4>Breakfast Plates</h4>
        </a>
      </li>
      <!-- End tab nav item -->

      <li class="nav-item">
        <a
          class="nav-link"
          data-bs-toggle="tab"
          data-bs-target="#menu-Burritos"
        >
          <h4>Burritos</h4>
        </a>
      </li>
      <!-- End tab nav item -->

      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-Bowls">
          <h4>Bowls</h4>
        </a>
      </li>
      <!-- End tab nav item -->

      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-Tacos">
          <h4>Tacos</h4>
        </a>
      </li>
      <!-- End tab nav item -->

      <li class="nav-item">
        <a
          class="nav-link"
          data-bs-toggle="tab"
          data-bs-target="#menu-Enchiladas"
        >
          <h4>Enchiladas</h4>
        </a>
      </li>
      <!-- End tab nav item -->

      <li class="nav-item">
        <a
          class="nav-link"
          data-bs-toggle="tab"
          data-bs-target="#menu-Quesadillas"
        >
          <h4>Quesadillas</h4>
        </a>
      </li>
      <!-- End tab nav item -->

      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-Tortas">
          <h4>Tortas</h4>
        </a>
      </li>
      <!-- End tab nav item -->

      <li class="nav-item">
        <a
          class="nav-link"
          data-bs-toggle="tab"
          data-bs-target="#menu-Dinner-Combos"
        >
          <h4>Dinner Combos</h4>
        </a>
      </li>
      <!-- End tab nav item -->

      <li class="nav-item">
        <a
          class="nav-link"
          data-bs-toggle="tab"
          data-bs-target="#menu-Kids-Menu"
        >
          <h4>Kids Menu</h4>
        </a>
      </li>
      <!-- End tab nav item -->
    </ul>
    <div class="tab-content" data-aos="fade-up" data-aos-delay="200">
      <!-- Breakfast Burritos Section -->
      <div class="tab-pane fade active show" id="menu-Breakfast-Burritos">
        <div class="tab-header text-center">
          <p>Menu</p>
          <h3>Breakfast Burritos</h3>
        </div>
        <div class="row gy-5">
          <!-- Super Breakfast Burrito -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/super-breakfast-burrito.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/super-breakfast-burrito.jpg"
                class="menu-img img-fluid"
                alt="Super Breakfast Burrito"
              />
            </a>
            <h4>Super Breakfast Burrito</h4>
            <p class="ingredients">
              Eggs, Beans, Cheese, Potato, and Choice of Ham or Bacon
            </p>
          </div>

          <!-- Steak and Eggs Burrito -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/steak-and-eggs-burrito.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/steak-and-eggs-burrito.jpg"
                class="menu-img img-fluid"
                alt="Steak and Eggs Burrito"
              />
            </a>
            <h4>Steak and Eggs Burrito</h4>
            <p class="ingredients">Steak, Scrambled Eggs, and Cheese</p>
          </div>

          <!-- Machaca Burrito -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/machaca-burrito.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/machaca-burrito.jpg"
                class="menu-img img-fluid"
                alt="Machaca Burrito"
              />
            </a>
            <h4>Machaca Burrito</h4>
            <p class="ingredients">
              Shredded Beef, Bell Peppers, Onion, Tomato, Scrambled with Eggs
            </p>
          </div>

          <!-- Breakfast Burrito -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/breakfast-burrito.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/breakfast-burrito.jpg"
                class="menu-img img-fluid"
                alt="Breakfast Burrito"
              />
            </a>
            <h4>Breakfast Burrito</h4>
            <p class="ingredients">Eggs, Beans, and Cheese</p>
          </div>

          <!-- Chorizo Burrito -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/chorizo-burrito.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/chorizo-burrito.jpg"
                class="menu-img img-fluid"
                alt="Chorizo Burrito"
              />
            </a>
            <h4>Chorizo Burrito</h4>
            <p class="ingredients">Eggs and Chorizo</p>
          </div>
        </div>
      </div>

      <!-- Breakfast Plates Section -->
      <div class="tab-pane fade" id="menu-Breakfast-Plates">
        <div class="tab-header text-center">
          <p>Menu</p>
          <h3>Breakfast Plates</h3>
        </div>
        <div class="row gy-5">
          <!-- Huevos a la Mexicana -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/huevos-a-la-mexicana.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/huevos-a-la-mexicana.jpg"
                class="menu-img img-fluid"
                alt="Huevos a la Mexicana"
              />
            </a>
            <h4>Huevos a la Mexicana</h4>
            <p class="ingredients">
              Scrambled Eggs, Bell Pepper, Onion, Tomato, and Cheese
            </p>
          </div>

          <!-- Huevos con Jamon -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/huevos-con-jamon.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/huevos-con-jamon.jpg"
                class="menu-img img-fluid"
                alt="Huevos con Jamon"
              />
            </a>
            <h4>Huevos con Jamon</h4>
            <p class="ingredients">Scrambled Eggs, Ham, and Cheese</p>
          </div>

          <!-- Huevos Rancheros -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/huevos-rancheros.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/huevos-rancheros.jpg"
                class="menu-img img-fluid"
                alt="Huevos Rancheros"
              />
            </a>
            <h4>Huevos Rancheros</h4>
            <p class="ingredients">
              Fried Eggs over a Fried Tortilla with Salsa Ranchera and Cheese
            </p>
          </div>

          <!-- Chilaquiles Rojos or Verdes -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/chilaquiles-verdes.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/chilaquiles-verdes.jpg"
                class="menu-img img-fluid"
                alt="Chilaquiles Rojos or Verdes"
              />
            </a>
            <h4>Chilaquiles Rojos or Verdes</h4>
            <p class="ingredients">
              Tortilla Chips, Scrambled Eggs, Onions, Cilantro, Sour Cream, and
              Cheese with Choice of Red or Green Sauce
            </p>
          </div>
        </div>
      </div>

      <!-- Burritos Section -->
      <div class="tab-pane fade" id="menu-Burritos">
        <div class="tab-header text-center">
          <p>Menu</p>
          <h3>Burritos</h3>
        </div>
        <div class="row gy-5">
          <!-- Fish Burrito -->
          <div class="col-lg-4 menu-item">
            <a href="/assets/img/menu-items/soon.jpg" class="glightbox">
              <img
                src="/assets/img/menu-items/soon.jpg"
                class="menu-img img-fluid"
                alt="Fish Burrito"
              />
            </a>
            <h4>Fish Burrito</h4>
            <p class="ingredients">
              Chipotle Sauce, Fried Fish, Cabbage, and Pico de Gallo
            </p>
          </div>

          <!-- Carne Asada Burrito -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/soon.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/soon.jpg"
                class="menu-img img-fluid"
                alt="Carne Asada Burrito"
              />
            </a>
            <h4>Carne Asada Burrito</h4>
            <p class="ingredients">
              Carne Asada with Pico de Gallo and Guacamole
            </p>
          </div>

          <!-- Supreme Veggie Burrito -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/supreme-burrito.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/supreme-burrito.jpg"
                class="menu-img img-fluid"
                alt="Supreme Veggie Burrito"
              />
            </a>
            <h4>Supreme Veggie Burrito</h4>
            <p class="ingredients">
              Beans, Rice, Pico de Gallo, Sour Cream, and Cheese
            </p>
          </div>

          <!-- Bean and Cheese Burrito -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/soon.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/soon.jpg"
                class="menu-img img-fluid"
                alt="Bean and Cheese Burrito"
              />
            </a>
            <h4>Bean and Cheese Burrito</h4>
            <p class="ingredients">Beans and Cheese in a Warm Tortilla</p>
          </div>

          <!-- Shredded Chicken Burrito -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/soon.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/soon.jpg"
                class="menu-img img-fluid"
                alt="Shredded Chicken Burrito"
              />
            </a>
            <h4>Shredded Chicken Burrito</h4>
            <p class="ingredients">Shredded Chicken with Rice or Beans</p>
          </div>


          <!-- Chile Relleno Burrito -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/chile-relleno-burrito.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/chile-relleno-burrito.jpg"
                class="menu-img img-fluid"
                alt="Chile Relleno Burrito"
              />
            </a>
            <h4>Chile Relleno Burrito</h4>
            <p class="ingredients">
              Stuffed Chile Pepper, Beans, Sour Cream, and Cheese
            </p>
          </div>

          <!-- Pollo Asado Burrito -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/pollo-asado-burrito.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/pollo-asado-burrito.jpg"
                class="menu-img img-fluid"
                alt="Pollo Asado Burrito"
              />
            </a>
            <h4>Pollo Asado Burrito</h4>
            <p class="ingredients">Pollo Asado, Guacamole, and Pico de Gallo</p>
          </div>

          <!-- Conga Burrito -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/conga-burrito.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/conga-burrito.jpg"
                class="menu-img img-fluid"
                alt="Conga Burrito"
              />
            </a>
            <h4>Conga Burrito</h4>
            <p class="ingredients">Choice of Any Meat, with Rice and Beans</p>
          </div>

          <!-- Carnitas Burrito -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/carnitas-burrito2.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/carnitas-burrito2.jpg"
                class="menu-img img-fluid"
                alt="Carnitas Burrito"
              />
            </a>
            <h4>Carnitas Burrito</h4>
            <p class="ingredients">Carnitas, Guacamole, and Pico de Gallo</p>
          </div>

          <!-- California Burrito -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/cali-burrito.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/cali-burrito.jpg"
                class="menu-img img-fluid"
                alt="California Burrito"
              />
            </a>
            <h4>California Burrito</h4>
            <p class="ingredients">
              Choice of Any Meat, French Fries, Pico de Gallo, and Cheese
            </p>
          </div>

          <!-- Fajitas Burrito -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/fajitas-burrito.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/fajitas-burrito.jpg"
                class="menu-img img-fluid"
                alt="Fajitas Burrito"
              />
            </a>
            <h4>Fajitas Burrito</h4>
            <p class="ingredients">
              Choice of Meat, Tomato, Onion, Bell Pepper, and Guacamole
            </p>
          </div>

          <!-- Surf and Turf Burrito -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/surf-n'-turf-burrito.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/surf-n'-turf-burrito.jpg"
                class="menu-img img-fluid"
                alt="Surf and Turf Burrito"
              />
            </a>
            <h4>Surf and Turf Burrito</h4>
            <p class="ingredients">
              Carne Asada, Shrimp, Guacamole, Sour Cream, and Rice
            </p>
          </div>

          <!-- Adobada Burrito -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/adobada-burrito.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/adobada-burrito.jpg"
                class="menu-img img-fluid"
                alt="Adobada Burrito"
              />
            </a>
            <h4>Adobada Burrito</h4>
            <p class="ingredients">
              Adobada, Guacamole, Onion, Cilantro, and Cheese
            </p>
          </div>
          <!-- Shrimp Burrito -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/shrimp-burrito.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/shrimp-burrito.jpg"
                class="menu-img img-fluid"
                alt="Shrimp Burrito"
              />
            </a>
            <h4>Shrimp Burrito</h4>
            <p class="ingredients">
              Shrimp, Ranchera Sauce, Rice, and Sour Cream
            </p>
          </div>

          <!-- Chimichanga -->
          <div class="col-lg-4 menu-item">
            <a href="/assets/img/menu-items/chimichanga.jpg" class="glightbox">
              <img
                src="/assets/img/menu-items/chimichanga.jpg"
                class="menu-img img-fluid"
                alt="Chimichanga"
              />
            </a>
            <h4>Chimichanga</h4>
            <p class="ingredients">
              Deep-Fried Burrito with Choice of Shredded Chicken or Beef, served
              with Guacamole, Sour Cream, and Pico de Gallo
            </p>
          </div>

          <!-- Lengua Burrito -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/soon.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/soon.jpg"
                class="menu-img img-fluid"
                alt="Lengua Burrito"
              />
            </a>
            <h4>Lengua Burrito</h4>
            <p class="ingredients">
              Lengua (Beef Tongue), Guacamole, Onion, and Cilantro
            </p>
          </div>

          <!-- Shredded Beef Burrito -->
          <div class="col-lg-4 menu-item">
            <a
              href="/assets/img/menu-items/soon.jpg"
              class="glightbox"
            >
              <img
                src="/assets/img/menu-items/soon.jpg"
                class="menu-img img-fluid"
                alt="Shredded Beef Burrito"
              />
            </a>
            <h4>Shredded Beef Burrito</h4>
            <p class="ingredients">Shredded Beef and Ranchera Sauce</p>
          </div>
        </div>
      </div>

      <!-- Bowls Section -->
      <div class="tab-pane fade" id="menu-Bowls">
        <div class="tab-header text-center">
          <p>Menu</p>
          <h3>Bowls</h3>
        </div>
        <div class="row gy-5">
          <div class="col-lg-4 menu-item">
            <a href="assets/img/menu/menu-item-6.png" class="glightbox">
              <img
                src="assets/img/menu/menu-item-6.png"
                class="menu-img img-fluid"
                alt="Breakfast Bowl"
              />
            </a>
            <h4>Breakfast Bowl</h4>
            <p class="ingredients">
              Eggs, Beans, Potatoes, Rice, Cheese, and Cilantro
            </p>
          </div>
        </div>
      </div>

      <!-- Tacos Section -->
      <div class="tab-pane fade" id="menu-Tacos">
        <div class="tab-header text-center">
          <p>Menu</p>
          <h3>Tacos</h3>
        </div>
        <div class="row gy-5">
          <div class="col-lg-4 menu-item">
            <a href="assets/img/menu/menu-item-6.png" class="glightbox">
              <img
                src="assets/img/menu/menu-item-6.png"
                class="menu-img img-fluid"
                alt="Carne Asada Taco"
              />
            </a>
            <h4>Carne Asada Taco</h4>
            <p class="ingredients">Carne Asada, Pico de Gallo, and Guacamole</p>
          </div>
        </div>
      </div>

      <!-- Enchiladas Section -->
      <div class="tab-pane fade" id="menu-Enchiladas">
        <div class="tab-header text-center">
          <p>Menu</p>
          <h3>Enchiladas</h3>
        </div>
        <div class="row gy-5">
          <div class="col-lg-4 menu-item">
            <a href="assets/img/menu/menu-item-6.png" class="glightbox">
              <img
                src="assets/img/menu/menu-item-6.png"
                class="menu-img img-fluid"
                alt="Beef Enchiladas"
              />
            </a>
            <h4>Beef Enchiladas</h4>
            <p class="ingredients">
              Beef, Enchilada Sauce, Lettuce, and Cheese
            </p>
          </div>
        </div>
      </div>

      <!-- Quesadillas Section -->
      <div class="tab-pane fade" id="menu-Quesadillas">
        <div class="tab-header text-center">
          <p>Menu</p>
          <h3>Quesadillas</h3>
        </div>
        <div class="row gy-5">
          <div class="col-lg-4 menu-item">
            <a href="assets/img/menu/menu-item-6.png" class="glightbox">
              <img
                src="assets/img/menu/menu-item-6.png"
                class="menu-img img-fluid"
                alt="Veggie Quesadilla"
              />
            </a>
            <h4>Veggie Quesadilla</h4>
            <p class="ingredients">Pico de Gallo, Lettuce, and Sour Cream</p>
          </div>
        </div>
      </div>

      <!-- Tortas Section -->
      <div class="tab-pane fade" id="menu-Tortas">
        <div class="tab-header text-center">
          <p>Menu</p>
          <h3>Tortas</h3>
        </div>
        <p>No specific items listed under Tortas.</p>
      </div>
    </div>

    <!-- /END TAB CONTENT xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
  </div>
</section>
<!-- /Menu Section -->
