---
layout: base.njk
title: "Menu"
description: "Our delicious menu items"
currentPage: menu
permalink: blog.html
---
<script async defer src="https://static.cdn.prismic.io/prismic.js?new=true&repo=elpueblo"></script>
<section id="menu" class="menu section">
 
 <h1>{{ blogPosts[0].data.title }}</h1>
<div>{{ blogPosts[0].data.content | safe }}</div>
</section>
 
